h1{
    text-align: center;
    color:aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}
.panara h2{
    padding-left: 50px;
    color:grey;
}
.dadonov li{
    padding-left:50px;
    color:grey;
    font-size:20px;
}
.schools ol{
    padding-left: 70px;
    color:grey;
    font-size:20px;
}